<html xmlns:th="https://www.thymeleaf.org">
  <body>
    <div th:if="${message}">
      <h2 th:text="${message}" />
    </div>

    <div>
      <form
        id="form"
        method="POST"
        enctype="multipart/form-data"
        action="/upload"
      >
        <table>
          <tr>
            <td>File to upload:</td>
            <td><input id="input" type="file" name="files" multiple /></td>
          </tr>
          <tr>
            <td></td>
            <td><input id="submit" type="submit" value="Upload" /></td>
          </tr>
        </table>
      </form>
    </div>

    <div>
      <ul>
        <li th:each="file : ${files}">
          <a th:href="${file}" th:text="${file}" />
        </li>
      </ul>
    </div>
    <script>
      const form = document.getElementById("form");
      form.addEventListener("submit", (ev) => {
        ev.preventDefault();
        const data = new FormData(form);
        const files = data.getAll("files");
        console.log(files);

        const request = new XMLHttpRequest();
        request.upload.addEventListener("progress", (e) => {
          console.log(
            "TOTAL: " + ((100 * e.loaded) / e.total).toFixed(2) + "%"
          );

          /* アップロード済みサイズから各ファイルのアップロード状況を逆算 */
          let remain = e.loaded;
          for (const file of files) {
            if (file.size <= remain) {
              console.log(file.name + ": 100.00%");
              remain = remain - file.size;
            } else {
              console.log(
                file.name + ": " + ((100 * remain) / file.size).toFixed(2) + "%"
              );
              remain = 0;
            }
          }
        });
        request.open("POST", "/upload");
        request.send(data);
      });
    </script>
  </body>
</html>
